.rescue-card-container,
.rescue-info,
.rescue-info-container,
.rescue-images,
.side-images {
  display: flex;
}

.rescue-card-container {
  flex-direction: column;
  width: 100%;
  height: 900px;
  align-items: center;
  background-color: var(--primary);
  transition: 0.5s ease;
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  user-select: none;
  /* box-shadow: var(--shadow);
  margin-bottom: 7px; */
}

.rescue-card-container.pushed {
  background-color: var(--hover);
}

.rescue-card-container:hover {
  cursor: grab;
}
.rescue-card-container:hover:active {
  cursor: grabbing;
}

.rescue-card {
  width: 75%;
  height: 88%;
}

.rescue-info {
  width: 100%;
  color: var(--secondary);
  align-items: center;
  justify-content: space-around;
  padding: 6px 0px;
}

.rescue-info-container div:first-child {
  padding-right: 30px;
}

.rescue-name {
  font-family: var(--font);
  font-size: 28px;
  text-shadow: 2px 2px 5px black;
  text-decoration: none;
  transition: 0.5s ease-out;
  padding: 6px 12px;
}

.rescue-name:hover {
  color: var(--hover);
}

.rescue-detail {
  font-size: 16px;
}

.rescue-images {
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.hero {
  height: 100%;
  min-width: 75%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: solid 3px var(--border);
}

.side-images {
  flex-direction: column;
  min-width: 25%;
  cursor: pointer;
}

.side-image {
  width: 100%;
  height: 33.34%;
  transition: 0.1s ease-in;
}

.side-image:hover {
  opacity: 80%;
}

.side-image:first-child {
  border: none;
  border-top-right-radius: 5px;
}

.side-image:last-child {
  border-bottom-right-radius: 5px;
}

.side-image.current-hero,
.side-image.current-hero:hover {
  opacity: 50%;
}

@media screen and (max-width: 1280px) {
  .rescue-card-container {
    height: 700px;
  }

  .rescue-card {
    width: 85%;
    height: 85%;
  }

  .hero {
    border-right: none;
  }
}

@media screen and (max-width: 900px) {
  .rescue-card-container {
    height: 520px;
  }

  .rescue-card {
    width: 84%;
    height: 80.8%;
  }

  .rescue-info {
    padding: 5px 0px;
  }

  .rescue-name {
    font-size: 27px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 430px) {
  .rescue-card-container {
    height: 320px;
  }

  .rescue-card {
    width: 80%;
    height: 71%;
  }

  .rescue-info {
    padding: 5px 0px;
  }

  .rescue-detail {
    font-size: 12px;
  }

  .rescue-name {
    font-size: 21px;
    padding: 5px 10px;
  }
}
