.rescue-card-container,
.rescue-info,
.rescue-info-container,
.rescue-images,
.side-images {
  display: flex;
}

.rescue-card-container {
  width: 100%;
  height: 1050px;
  justify-content: center;
  background-color: var(--primary);
  transition: 0.5s ease;
}

.rescue-card-container:hover {
  cursor: pointer;
}

.rescue-card {
  width: 94.5%;
  height: 100%;
}

.rescue-info {
  color: var(--secondary);
  align-items: center;
  justify-content: space-around;
}

.rescue-info-container div:first-child {
  padding-right: 30px;
}

.rescue-name {
  font-family: var(--font);
  font-size: 28px;
  text-shadow: 2px 2px 5px black;
}

.rescue-detail {
  font-size: 16px;
}

.rescue-images {
  flex-direction: row;
  height: 100%;
}

.hero {
  height: 90%;
  width: 80%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: solid 3px var(--border);
}

.side-images {
  flex-direction: column;
  width: 20%;
}

.side-image {
  width: 100%;
  height: 30%;
}

.side-image:first-child {
  border: none;
  border-top-right-radius: 5px;
}

.side-image:last-child {
  border-bottom-right-radius: 5px;
}

.current-hero {
  opacity: 50%;
}

@media screen and (max-width: 1280px) {
  .rescue-card-container {
    height: 660px;
  }

  .rescue-card {
    width: 90.5%;
  }

  .hero {
    height: 85%;
    border-right: none;
  }

  .side-image {
    height: 28.334%;
  }
}

@media screen and (max-width: 900px) {
  .rescue-card-container {
    height: 520px;
  }

  .rescue-card {
    width: 87.5%;
  }

  .hero {
    height: 81.5%;
    width: 78%;
  }

  .side-image {
    height: 27.1%;
  }

  .side-images {
    width: 22%;
  }
}
