.rescue-card-container,
.rescue-info,
.rescue-info-container,
.rescue-images,
.side-images {
  display: flex;
}

.rescue-card-container {
  width: 100%;
  height: 900px;
  justify-content: center;
  background-color: var(--primary);
  transition: 0.5s ease;
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  user-select: none;
  /* box-shadow: var(--shadow);
  margin-bottom: 7px; */
}

.rescue-card-container.pushed {
  background-color: var(--hover);
}

.rescue-card-container:hover {
  cursor: pointer;
}

.rescue-card {
  width: 85%;
  height: 100%;
}

.rescue-info {
  color: var(--secondary);
  align-items: center;
  justify-content: space-around;
}

.rescue-info-container div:first-child {
  padding-right: 30px;
}

.rescue-name {
  font-family: var(--font);
  font-size: 28px;
  text-shadow: 2px 2px 5px black;
  text-decoration: none;
  padding: 12px 0px;
  transition: 0.5s ease-out;
}

.rescue-name:hover {
  color: var(--hover);
}

.rescue-detail {
  font-size: 16px;
}

.rescue-images {
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.hero {
  height: 88%;
  width: 74%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: solid 3px var(--border);
}

.side-images {
  flex-direction: column;
  width: 22%;
}

.side-image {
  width: 100%;
  height: 29.35%;
  transition: 0.1s ease-in;
}

.side-image:hover {
  opacity: 80%;
}

.side-image:first-child {
  border: none;
  border-top-right-radius: 5px;
}

.side-image:last-child {
  border-bottom-right-radius: 5px;
}

.side-image.current-hero,
.side-image.current-hero:hover {
  opacity: 50%;
}

@media screen and (max-width: 1280px) {
  .rescue-card-container {
    height: 800px;
  }

  .rescue-card {
    width: 85%;
  }

  .hero {
    height: 85%;
    border-right: none;
  }

  .side-image {
    height: 28.334%;
  }
}

@media screen and (max-width: 900px) {
  .rescue-card-container {
    height: 520px;
  }

  .rescue-card {
    width: 84%;
  }

  .hero {
    height: 81%;
    width: 78%;
  }

  .side-image {
    height: 27%;
  }

  .side-images {
    width: 22%;
  }

  .rescue-name {
    font-size: 27px;
    padding: 10px 0px;
  }
}
