:root {
  --primary: rgb(119, 18, 119);
  --secondary: white;
  --name: rgb(241, 157, 0);
  --hover: rgb(183, 53, 183);
  --border: black;
  --title-bg: rgb(255, 255, 255, 0.6);
  --inline-color: rgb(141, 102, 141);
  --even-line: rgb(233, 233, 243);
  --disabled: rgb(150, 150, 150);
  --link-press: rgb(175, 50, 175);
  --btn-press: rgb(143, 35, 143);
  --spinner: rgb(95, 4, 95);
  --font: "TabelSans";
  --text-shadow: 1px 1px 5px var(--border);
  --shadow: 0px 1px 7px 0px var(--border);
  --one-side-shadow: 0px 7px 8px -8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TabelSans";
}

@font-face {
  font-family: "TabelSans";
  src: url("src/fonts/TabelSans-9MqPB.otf");
}

a {
  text-decoration: none;
}

.swiper-slide {
  display: flex;
  width: 100%;
  justify-items: center;
}
