:root {
  --primary: rgb(119, 18, 119);
  --secondary: white;
  --hover: rgb(183, 53, 183);
  --border: black;
  --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
