:root {
  --primary: rgb(119, 18, 119);
  --secondary: white;
  --hover: rgb(183, 53, 183);
  --border: black;
  --font: "TabelSans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TabelSans";
}

@font-face {
  font-family: "TabelSans";
  src: url("src/fonts/TabelSans-9MqPB.otf");
}
