.rescue-list,
.adopt-container,
.adopt-title-container,
.species-links,
.info-page-content,
.info-page-item-contents {
  display: flex;
}

/* this is meant to help with FOUC */
/* .adopt-container.main {
  display: flex !important;
} */

.adopt-container {
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-inline: 180px;
  background-color: var(--inline-color);
}

.adopt-title {
  padding-top: 97px;
  padding-bottom: 3px;
  margin: 0;
  width: 100%;
  font-family: var(--font);
  color: var(--btn-press);
  font-size: 53px;
  /* border-left: solid 3px var(--primary);
  border-right: solid 3px var(--primary); */
  border-bottom: solid 3px var(--primary);
  box-shadow: var(--one-side-shadow);
  text-shadow: 0px 0px 1px var(--btn-press);
  z-index: 1;
}

.adopt-title-text {
  padding: 14px 9px 2px 9px;
  background-color: var(--title-bg);
  border-radius: 10px;
  user-select: none;
  /* opacity: 0.5; */
}

.adopt-title.blank-banner {
  background-color: #c8bfe7;
}

.adopt-title.adopt-main {
  background-image: url(../../adopt-banner.jpg);
  background-size: cover;
  background-position-y: 30%;
}

/* .adopt-title.adopt-main {
  background-image: url(../../banner.jpg);
  background-size: cover;
  background-position-y: 50%;
} */

.adopt-title.cats {
  background-image: url(../../cats-image.jpg);
  background-size: cover;
  background-position: center;
}

.adopt-title.dogs {
  background-image: url(../../dogs-image.jpg);
  background-size: cover;
  background-position-y: 49%;
}

.adopt-title.other {
  background-image: url(../../others-image.jpg);
  background-size: cover;
  background-position-y: 24%;
}

.adopt-title.info {
  background-image: url(../../info-image.jpg);
  background-size: cover;
  background-position: center;
}

.adopt-title-container {
  width: 100%;
  justify-content: center;
}

.rescue-list {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, auto);
  row-gap: 50px;
  /* height: 100%; */
  align-items: center;
  /* border-left: dotted 3px var(--primary);
  border-right: dotted 3px var(--primary); */
  padding-top: 105px;
  padding-bottom: 40px;
}

.rescue-list.short {
  padding-bottom: 300px;
}

.adopt-title-container,
.rescue-list,
.info-page-content {
  background-color: var(--secondary);
}

.species-links {
  justify-content: center;
  background-color: var(--secondary);
  padding-top: 105px;
  padding-bottom: 350px;
  justify-content: space-evenly;
}

.species-link {
  border-radius: 20%;
  text-decoration: none;
  box-shadow: var(--shadow);
}

.species-link:last-child {
  margin-right: 0px;
}

.category-image {
  height: 220px;
  width: 220px;
  font-size: 21px;
  transition: 0.5s ease-out;
  color: var(--secondary);
  border: solid 3px var(--primary);
  border-radius: 20%;
  align-content: center;
}

.category-image:hover {
  opacity: 0.8;
  border: solid 3px var(--hover);
}

.category-image.cats {
  background-image: url(../../cats-image.jpg);
  background-size: cover;
}
.category-image.dogs {
  background-image: url(../../dogs-image.jpg);
  background-position-y: 92%;
  background-size: cover;
}
.category-image.other {
  background-image: url(../../others-image.jpg);
  background-position-x: 65%;
  background-size: cover;
}
.category-image.info {
  background-image: url(../../info-image.jpg);
  background-position-x: 20%;
  background-size: cover;
}

.category-image-name {
  /* padding: 5px 6px 0px 6px; */
  /* padding: 0px 1px;
  background-color: var(--primary);
  border-radius: 25px; */
  text-shadow: var(--text-shadow);
  user-select: none;
}

.info-page-content {
  flex-direction: column;
  align-items: center;
}

.info-page-content.filler-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 49rem;
}

.info-page-intro {
  padding-top: 85px;
  padding-bottom: 60px;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 500;
  padding-inline: 30px;
  text-shadow: 0px 0px 3px rgb(214, 214, 240);
  /* background-color: rgb(233, 233, 243); */
}

.info-page-section-title {
  font-family: var(--font);
  font-size: 35px;
  font-weight: 600;
  border-bottom: solid 3px var(--primary);
  width: 50%;
  margin-top: 0px;
  margin-bottom: 15px;
}

.info-page-list {
  /* text-align: left; */
  padding-bottom: 80px;
}

.info-page-list.services {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 50px;
}

.info-page-item {
  font-size: 17px;
  text-align: left;
  margin-top: 2px;
  padding-inline: 6px;
}

.info-page-item.services {
  padding-left: 4px;
  padding-right: 0px;
}

.info-page-item.even {
  background-color: var(--even-line);
  border-radius: 3px;
}

.info-page-item:first-child {
  margin-top: 0px;
}

.info-page-item::marker {
  color: var(--hover);
  font-size: 10px;
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  content: "\f1b0";
}

.info-page-item-contents {
  justify-content: space-between;
  width: 500px;
}

@media screen and (max-width: 1540px) {
  .species-link {
    margin-bottom: 60px;
  }

  .species-links {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .species-links.main {
    padding-bottom: 70px;
  }

  .rescue-list.short {
    padding-bottom: 300px;
  }
}

@media screen and (max-width: 1250px) {
  .adopt-container {
    padding-inline: 90px;
  }

  .adopt-title {
    padding-top: 60px;
  }

  .rescue-list {
    grid-template-columns: repeat(4, auto);
  }

  .info-page-item-contents {
    width: 350px;
  }

  .info-page-list.services {
    grid-template-columns: repeat(2, auto);
    column-gap: 40px;
  }
}

@media screen and (max-width: 960px) {
  .adopt-container {
    padding-inline: 70px;
  }

  .adopt-title {
    padding-top: 55px;
  }

  .rescue-list {
    grid-template-columns: repeat(3, auto);
  }

  .rescue-list.short {
    padding-bottom: 60px;
  }

  .adopt-title.adopt-main {
    background-position-y: 10%;
  }

  .adopt-title.cats {
    background-position-y: 50%;
  }

  .adopt-title.other {
    background-position-y: 17%;
  }
}

@media screen and (max-width: 710px) {
  .rescue-list {
    grid-template-columns: repeat(2, auto);
  }

  .species-links {
    grid-template-columns: repeat(1, auto);
    padding-top: 60px;
    margin-left: 0px;
    padding-bottom: 0px;
  }

  .species-link,
  .species-link:last-child {
    margin-right: 0px;
  }

  .info-page-section-title {
    width: 100%;
  }

  .info-page-content {
    padding-inline: 30px;
  }

  .info-page-intro {
    padding-inline: 0px;
  }
}

@media screen and (max-width: 430px) {
  .adopt-container {
    padding-inline: 45px;
  }

  .species-links {
    grid-template-columns: repeat(1, auto);
    padding-top: 40px;
  }

  .species-link {
    margin-bottom: 40px;
  }

  .adopt-title {
    padding-top: 60px;
    font-size: 40px;
  }

  .category-image {
    height: 130px;
    width: 130px;
    font-size: 18px;
    align-content: center;
  }

  .rescue-list {
    grid-template-columns: repeat(2, auto);
    row-gap: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .adopt-title.adopt-main {
    background-position: center;
  }

  .adopt-title.cats {
    background-position-y: 48%;
  }

  .adopt-title.other {
    background-position-y: 27%;
  }

  .info-page-item-contents {
    width: 250px;
  }

  .info-page-list.services {
    grid-template-columns: repeat(1, auto);
  }
}
