:root {
  --pattern-color: var(--primary);
  --pattern-width: 100px;
  --pattern-width-mobile: 80px;
  --pattern-height: 10px;
  --pattern-height-mobile: 9px;
}

body {
  background-color: var(--secondary);
}

.loader-container {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

.loader {
  font-size: 45px;
}

.cat-image {
  position: relative;
  height: 700px;
  background-image: url(../imgs/banner.jpg);
  background-position-y: 71.8%;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
  z-index: -1;
}

/* @keyframes wiggle {
  0% {
    
  }
  50% {
    
  }
} */

.pattern-spikes-first,
.pattern-spikes-last {
  position: relative;
  height: 18px;
  background-color: var(--secondary);
  isolation: isolate;
  z-index: -2;
  box-shadow: 1px 1px 6px 0px var(--border);
}

.pattern-spikes-first {
  border-bottom: solid 1px var(--primary);
}

.pattern-spikes-last {
  border-top: solid 1px var(--primary);
  width: 100%;
  z-index: 1;
}

.pattern-spikes-last::before,
.pattern-spikes-first::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--pattern-height);
  background: var(--pattern-color);
  mask-size: var(--pattern-width) var(--pattern-height);
  /* transform: rotate(0.5turn); */
}

.pattern-spikes-first::after {
  bottom: 0;
  mask-image: url(../imgs/triangle-bottom.svg);
}

.pattern-spikes-last::before {
  top: 0;
  mask-image: url(../imgs/triangle-top.svg);
  /* transform: rotate(0.5turn); */
}

.dog-image {
  height: 700px;
  background-image: url(../imgs/gowtham-agm-Hcgv-TBKnTE-unsplash.jpg);
  /* background-image: url(../imgs/chirag-dulyan-pScqBIlWnxE-unsplash.jpg); */
  /* Photo by <a href="https://unsplash.com/@gowthamagm?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Gowtham AGM</a> on <a href="https://unsplash.com/photos/a-group-of-three-puppies-sitting-next-to-each-other-Hcgv-TBKnTE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
  /* Photo by <a href="https://unsplash.com/@chirag22?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Chirag Dulyan</a> on <a href="https://unsplash.com/photos/brown-and-black-short-coated-puppy-on-green-textile-pScqBIlWnxE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
  background-position-y: 41.8%;
  /* background-position-y: 64%; */
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-content: center;
}

.dog-image-text {
  /* position: relative; */
  margin-left: 220px;
  margin-bottom: 180px;
  color: var(--secondary);
  /* font-weight: bold; */
}

.dog-image-link {
  font-size: 35px;
  text-decoration: none;
  transition: 0.4s ease-out;
}

.dog-image-link:hover {
  color: var(--hover);
}

.rr-title {
  padding: 24px 0px;
  text-align: center;
  font-family: var(--font);
  font-weight: bold;
  font-size: 53px;
  color: var(--primary);
  background-color: var(--secondary);
}

/* .pattern-spikes-last-container {
  width: 100%;
  display: flex;
  justify-content: center;
} */

/* .rescue-swiper {
} */

.recent-rescues {
  /* margin-bottom: 40px; */
  box-shadow: var(--shadow);
}

/* .index::after {
  content: "";
  top: 1;
  left: 0;
  position: absolute;
  height: 30px;
  width: 100%;
  transform: skewY(0.8deg);
  background: var(--border);
  transform-origin: top;
  z-index: 1000;
} */

.before-footer {
  position: relative;
  height: 12vh;
  isolation: isolate;
  z-index: -2;
  /* background: linear-gradient(1.4deg, var(--hover) 30%, var(--secondary) 31%); */
  background: linear-gradient(3.35deg, var(--hover) 50%, var(--secondary) 51%);
}

/* .before-footer::after { */
/* content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background: var(--hover);
  transform: skewY(10deg); */
/* z-index: -1; */
/* transform-origin: bottom; */
/* --mask:
    radial-gradient(33.54px at 50% 45px, #000 99%, #0000 101%) calc(50% - 30px)
      0/60px 100%,
    radial-gradient(33.54px at 50% -30px, #0000 99%, #000 101%) 50% 15px/60px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask); */
/* } */

.tooltip {
  margin-left: 50px;
  color: #fff;
  font-size: 18px;
  max-width: 28ch;
  text-align: center;
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  user-select: none;
}
.tooltip {
  /* triangle dimension */
  --b: 2em; /* base */
  --h: 1em; /* height */

  --p: 50%; /* triangle position (0%:top 100%:bottom) */
  --r: 1.2em; /* the radius */
  --c: var(--primary);

  padding: 1.5em;
  border-radius: var(--r) / var(--r) min(var(--r), var(--p) - var(--b) / 2)
    min(var(--r), 100% - var(--p) - var(--b) / 2) var(--r);
  clip-path: polygon(
    100% 100%,
    0 100%,
    0 0,
    100% 0,
    100% max(0%, var(--p) - var(--b) / 2),
    calc(100% + var(--h)) var(--p),
    100% min(100%, var(--p) + var(--b) / 2)
  );
  background: var(--c);
  border-image: conic-gradient(var(--c) 0 0) fill 0 /
    calc(var(--p) - var(--b) / 2) 0 calc(100% - var(--p) - var(--b) / 2)
    var(--r) / 0 var(--h) 0 0;
}

@media screen and (max-width: 1550px) {
  .cat-image {
    height: 555px;
  }

  .dog-image {
    height: 555px;
  }

  .dog-image-link {
    font-size: 30px;
  }

  .rr-title {
    font-size: 48px;
  }

  .tooltip {
    margin-left: 12px;
    font-size: 18px;
    max-width: 28ch;
    text-align: center;
  }
  .tooltip {
    padding: 1.5em;
  }
}

@media screen and (max-width: 1200px) {
  .loader {
    font-size: 50px;
  }

  .cat-image {
    height: 450px;
  }

  .dog-image {
    height: 450px;
  }

  .dog-image-text {
    margin-left: 160px;
    margin-bottom: 135px;
  }

  .dog-image-link {
    font-size: 24px;
  }

  .index.clicked {
    display: none;
  }

  .rr-title {
    padding: 20px 0px;
    font-size: 44px;
  }

  .tooltip {
    margin-left: 10px;
    font-size: 16px;
    max-width: 23ch;
    text-align: center;
  }
  .tooltip {
    padding: 1.2em;
  }

  .before-footer {
    /* background: linear-gradient(2.3deg, var(--hover) 30%, var(--secondary) 31%); */
    background: linear-gradient(5.4deg, var(--hover) 50%, var(--secondary) 51%);
  }
}

@media screen and (max-width: 960px) {
  .cat-image {
    height: 355px;
  }

  .dog-image {
    height: 355px;
  }

  .dog-image-text {
    margin-left: 125px;
    margin-bottom: 110px;
  }

  .dog-image-link {
    font-size: 20px;
  }

  .tooltip {
    margin-left: 10px;
    font-size: 16px;
    max-width: 17ch;
    text-align: center;
  }
  .tooltip {
    padding: 1.1em;
  }

  .before-footer {
    /* background: linear-gradient(3deg, var(--hover) 30%, var(--secondary) 31%); */
    background: linear-gradient(6.8deg, var(--hover) 50%, var(--secondary) 51%);
  }
}

@media screen and (max-width: 800px) {
  .loader {
    font-size: 60px;
  }

  .cat-image {
    height: 300px;
  }

  .dog-image {
    height: 300px;
  }

  .dog-image-text {
    margin-left: 110px;
    margin-bottom: 100px;
  }

  .dog-image-link {
    font-size: 17px;
  }

  .rr-title {
    padding: 16px 0px;
    font-size: 39px;
  }

  .tooltip {
    margin-left: 8px;
    font-size: 16px;
    max-width: 14ch;
    text-align: center;
  }
  .tooltip {
    padding: 1em;
  }

  .before-footer {
    /* background: linear-gradient(3deg, var(--hover) 30%, var(--secondary) 31%); */
    background: linear-gradient(8.2deg, var(--hover) 50%, var(--secondary) 51%);
  }
}

@media screen and (max-width: 420px) {
  .loader {
    font-size: 45px;
  }

  .cat-image {
    height: 155px;
  }

  /* .dog-image {
    height: 300px;
  } */

  /* .dog-image-text {
    margin-left: 110px;
    margin-bottom: 100px;
  } */

  /* .dog-image-link {
    font-size: 17px;
  } */

  .rr-title {
    padding: 10px 0px;
    font-size: 29px;
  }

  .pattern-spikes-first,
  .pattern-spikes-last {
    height: 10px;
  }

  .pattern-spikes-last::before,
  .pattern-spikes-first::after {
    height: var(--pattern-height-mobile);
    mask-size: var(--pattern-width-mobile) var(--pattern-height-mobile);
  }

  .tooltip {
    margin-left: 2px;
    font-size: 12px;
    max-width: 12ch;
    text-align: center;
  }
  .tooltip {
    padding: 0.5em;
  }

  .before-footer {
    background: linear-gradient(
      14.5deg,
      var(--hover) 50%,
      var(--secondary) 51%
    );
  }
}
