body {
  background-color: var(--secondary);
}

.loader-container {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

.loader {
  font-size: 40px;
}

.cat-image {
  height: 700px;
  background-image: url(../imgs/banner.jpg);
  /* background-position-y: -585px; */
  background-position-y: 71.8%;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 80%; */
}

.rr-title {
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  font-family: var(--font);
  font-weight: bold;
  font-size: 50px;
  color: var(--primary);
  background-color: var(--secondary);
}

.rescue-swiper {
}

.index {
  margin-bottom: 40px;
}

@media screen and (max-width: 960px) {
  .cat-image {
    height: 355px;
  }
}
