.nav-logo,
.menu-icon,
.nav-option,
.nav-link,
.donate-btn,
.donate-btn-link {
  text-decoration: none;
  color: var(--secondary);
  list-style: none;
}

.nav-bar,
.menu,
.menu-donate,
.donate-btn,
.nav-option {
  display: flex;
}

.nav-bar {
  background: linear-gradient(180deg, rgb(135, 24, 135) 0%, var(--primary) 80%);
  height: 78px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.nav-bar-container {
  box-shadow: var(--shadow);
}

.menu {
  justify-content: center;
  /* width: 50%; */
  height: 100%;
  padding-left: 68px;
}

.menu-icon {
  /* height: 100%; */
  display: none;
  font-size: 42px;
  cursor: pointer;
  transition: 0.5s ease-out;
  /* align-content: center; */
}

.menu-icon:hover {
  color: var(--hover);
}

.fa-xmark,
.fa-bars {
  padding-top: 14px;
}

.menu-donate {
  height: 100%;
}

.nav-link,
.donate-btn-link {
  font-weight: bolder;
  transition: 0.5s ease-out;
}

.nav-link {
  text-align: center;
  padding: 24px 30px 25px 30px;
  font-size: 24px;
  font-weight: normal;
}

.nav-link:hover {
  color: var(--primary);
}

.donate-btn {
  margin-left: 68px;
  align-items: center;
}

.donate-btn-link {
  padding: 14px 21px 6px 21px;
  font-size: 23.5px;
  border: solid 2px var(--secondary);
  border-radius: 60px;
}

.donate-btn-link:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

.nav-logo {
  height: 100%;
  padding-top: 10px;
  transition: 0.5s ease-out;
}

.nav-logo:hover {
  color: var(--hover);
}

.nav-option {
  transition: 0.5s ease-out;
}

.nav-option:hover {
  background-color: var(--hover);
}

@media screen and (max-width: 1200px) {
  .menu {
    display: flex;
  }

  .nav-bar {
    justify-content: space-between;
    padding: 0px 45px;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 92vh;
    top: 78px;
    padding-left: 0px;
    right: -100%;
    opacity: 0;
    transition: 0.1s ease-in-out;
  }

  .menu-icon {
    display: block;
    padding-bottom: 5px;
  }

  /* .menu-icon.clicked {
    font-size: 48px;
  } */

  .menu.clicked {
    background-color: var(--primary);
    right: 0;
    opacity: 1;
    z-index: 100;
  }

  .nav-link {
    padding: 40px 30px 42px 30px;
    width: 100%;
    font-size: 25px;
    text-align: center;
  }

  .donate-btn {
    justify-content: center;
    margin-left: 0;
    margin-top: 30px;
  }

  .donate-btn-link {
    padding: 23px 0px 23px 0px;
    width: 70%;
    text-align: center;
    font-size: 25px;
    border: solid 3px var(--secondary);
  }
}
