/* .dropdown-list,
.dropdown-item {
  display: flex;
} */

.dropdown-list {
  /* flex-direction: column; */
  margin-top: 78px;
  z-index: 1;
  list-style: none;
  text-align: start;
  position: absolute;
  background-color: var(--hover);
}

.dropdown-list.clicked {
  display: none;
}

.dropdown-item {
  display: flex;
  width: 100%;
}

.dropdown-item:first-child {
  padding-top: 6px;
}

.dropdown-item:last-child {
  padding-bottom: 12px;
}

/* .dropdown-item:hover {
  background-color: var(--secondary);
} */

.dropdown-link {
  display: block;
  padding: 8px 40px 8px 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: var(--secondary);
  text-decoration: none;
  width: 100%;
  transition: 0.5s ease-out;
}

.dropdown-link:hover {
  color: var(--primary);
}
