.rescue-card-container,
.rescue-info,
.rescue-info-container,
.rescue-images,
.side-images {
  display: flex;
}

.rescue-card-container {
  width: 100%;
  height: 950px;
  justify-content: center;
  background-color: var(--primary);
  transition: 0.5s ease;
}

.rescue-card-container:hover {
  /* background-color: var(--hover); */
  cursor: pointer;
}

.rescue-card {
  width: 94.5%;
  height: 100%;
}

.rescue-info {
  /* background-color: var(--hover); */
  /* border-radius: 10px; */
  /* border-bottom: solid 1px var(--primary); */
  color: var(--secondary);
  align-items: center;
  justify-content: space-around;
}

/* .rescue-info-container {
  background-color: var(--secondary);
} */

.rescue-info-container div:first-child {
  padding-right: 30px;
}

.rescue-name {
  font-size: 28px;
  text-shadow: 2px 2px 5px black;
}

.rescue-images {
  flex-direction: row;
  height: 100%;
}

.hero {
  height: 93.5%;
  width: 80%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: solid 3px var(--border);
}

.side-images {
  flex-direction: column;
  width: 20%;
}

.side-image {
  width: 100%;
  height: 30.95%;
  border-top: solid 3px var(--border);
}

.side-image:first-child {
  border: none;
  border-top-right-radius: 5px;
}

.side-image:last-child {
  border-bottom-right-radius: 5px;
}

.current-hero {
  opacity: 50%;
}
