.footer,
.footer-container,
.footer-middle,
.footer-links,
.social-links {
  display: flex;
}

.footer-logo,
.footer-link,
.social-link,
.social-links-title {
  color: var(--secondary);
  transition: 0.5s ease-out;
}

.footer-logo:hover,
.footer-link:hover,
.social-link:hover {
  color: var(--hover);
}

.footer-logo:hover:active,
.footer-link:hover:active,
.social-link:hover:active {
  transition: none;
  color: var(--link-press);
}

.footer-container {
  padding: 5px 0px;
  background-color: var(--primary);
  justify-content: center;
}

.footer {
  height: 100%;
  width: 65%;
  padding: 10px 0px;
  justify-content: space-around;
  /* align-items: center; */
}

.footer-logo {
  height: 100%;
  padding-top: 13px;
  transition: 0.5s ease-out;
}

.footer-logo .paw {
  font-size: 1.1rem;
}

/* .footer-home-paw-logo {
  background-image: url(White-Paw-48x48.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  transition: 0.5s ease-out;
} */

/* .footer-home-paw-logo:hover {
  background-image: url(Hover-Paw-48x48.png);
} */

.footer-option {
  list-style: none;
  padding-right: 10px;
}

.footer-option:last-child {
  padding-right: 0px;
}

.footer-middle {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.copyright-tag {
  padding-right: 10px;
  color: var(--secondary);
  font-size: 15px;
  /* font-weight: bold; */
}

.footer-link {
  font-size: 17.5px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s ease-out;
}

.social-links-title {
  font-family: var(--font);
  font-size: 17.5px;
  font-weight: bold;
}

.social-links {
  justify-content: space-between;
}

.fa-copyright {
  font-size: 12px;
}

.fa-brands {
  font-size: 21px;
}

@media screen and (max-width: 1200px) {
  .footer-container.clicked {
    display: none;
  }

  .footer-option {
    list-style: none;
    padding-right: 15px;
  }

  .footer-link {
    font-size: 18px;
  }

  .social-links-title {
    font-size: 17.5px;
  }

  .fa-brands {
    font-size: 22px;
  }
}

@media screen and (max-width: 960px) {
  .footer {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .footer-logo {
    padding-top: 0px;
    font-size: 1.25rem;
  }

  .footer-option {
    list-style: none;
    padding-right: 20px;
  }

  .footer-link {
    font-size: 20px;
  }

  .social-links-title {
    display: none;
  }

  .fa-brands {
    font-size: 29px;
  }

  .social-links {
    width: 210px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 430px) {
  .footer-logo .paw {
    font-size: 0.73em;
  }

  .copyright-tag {
    font-size: 14px;
  }

  .fa-copyright {
    font-size: 12px;
  }

  .footer-option {
    padding-right: 12px;
  }

  .footer-link {
    font-size: 15px;
  }

  .fa-brands {
    font-size: 20px;
  }

  .social-links {
    max-width: 110px;
    justify-content: space-between;
  }
}
