.footer,
.footer-container,
.footer-links,
.social-links {
  display: flex;
}

.footer-logo,
.footer-link,
.social-link,
.social-links-title {
  color: var(--secondary);
  transition: 0.5s ease-out;
}

.footer-logo:hover,
.footer-link:hover,
.social-link:hover {
  color: var(--hover);
}

.footer-container {
  padding: 5px 0px;
  background-color: var(--primary);
  justify-content: center;
}

.footer {
  height: 100%;
  width: 65%;
  padding: 10px 0px;
  justify-content: space-around;
  /* align-items: center; */
}

.footer-logo {
  height: 100%;
  padding-top: 13px;
  transition: 0.5s ease-out;
  font-size: 1.1rem;
}

.footer-option {
  list-style: none;
  padding-right: 10px;
}

.footer-option:last-child {
  padding-right: 0px;
}

.footer-link {
  font-size: 17.5px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s ease-out;
}

.social-links-title {
  font-family: var(--font);
  font-size: 17.5px;
  font-weight: bold;
}

.social-links {
  justify-content: space-between;
}

.fa-brands {
  font-size: 21px;
}

@media screen and (max-width: 1200px) {
  .footer-container.clicked {
    display: none;
  }

  .footer-option {
    list-style: none;
    padding-right: 15px;
  }

  .footer-link {
    font-size: 18px;
  }

  .social-links-title {
    font-size: 17.5px;
  }

  .fa-brands {
    font-size: 22px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .footer-logo {
    padding-top: 0px;
    font-size: 1.25rem;
  }

  .footer-option {
    list-style: none;
    padding-right: 20px;
  }

  .footer-link {
    font-size: 20px;
  }

  .social-links-title {
    display: none;
  }

  .fa-brands {
    font-size: 29px;
  }

  .social-links {
    width: 210px;
    justify-content: space-between;
  }
}
